__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
venv/
.env
.ipynb_checkpoints
.DS_Store
*.csv
*.numbers
*.json
*.log
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/